@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var appUser = await UserManager.GetUserAsync(User);
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" class="btn btn-primary my-2 my-sm-0" asp-page="/Account/Manage/Index" title="Manage">Hello @appUser.Firstname!</a>&nbsp;
            </li>
            <li>
                <button type="submit" class="btn btn-outline-dark my-2 my-sm-0">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a class="btn btn-outline-dark my-2 my-sm-0" asp-area="Identity" asp-page="/Account/Register">Register</a>&nbsp;</li>*@
        <li><a class="btn btn-outline-dark my-2 my-sm-0" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}