@model NewRoleViewModel
@{
    ViewData["Title"] = "Add new role";
    Layout = "_AdminLayout";
}

<h1 class="display-6">Add new role</h1>
<a asp-action="index" class="btn btn-light btn-sm">&laquo; Back to roles</a>
<hr />

<form asp-action="add" role="form" class="form-horizontal col-4" method="post">
    <div asp-validation-summary="All" class="text-danger col-12"></div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <div>
            <input type="text" asp-for="Name" class="form-control" placeholder="Role name" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-danger btn-sm" value="Save" />
    </div>
</form>

