@{
    ViewData["Title"] = "Home";
}
<h1>Mail Management System</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="form-horizontal">
                <div class="form-group">
                    <input type="text" style="font-size: 25px; height: 50px;" class="form-control" placeholder="Search mail reference or file number" />
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-default btn-lg" value="Mail Search">
                    <input type="submit" class="btn btn-default btn-lg" value="File Search">
                </div>
            </div>
        </div>
    </div>
</div>
