@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron" style="margin-top: 5px;">
    <div class="row">
        <img class="img-responsive" style="height: 100px; width: 100px;" src="images/uganda-coat-of-arms.png" /><h1 class="col-sm-10">Ministry of Education & Sports</h1>
    </div>
    <h2>Mail Management System</h2>
</div>

<h4 style="padding-bottom: 0;padding-top: 10px;">Search</h4>
<hr style="margin-top: 0; margin-bottom: 2px;" />

<form asp-action="index" asp-controller="mail" method="get" role="form">
    <div class="input-group">
        <input name="search" id="search" type="text" class="form-control" placeholder="Search incoming mail..." aria-label="Mail search" aria-describedby="button-addon-search">
        <div class="input-group-append" id="button-addon-search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
            <a asp-action="index" asp-controller="mail" class="btn btn-outline-secondary">Incoming mail</a>
            <a asp-action="index" asp-controller="correspondance" class="btn btn-outline-secondary">Outgoing mail</a>
        </div>
    </div>
</form>
