@model ActionStatusDetailsViewModel
@{
    ViewData["Title"] = "Status details";
}

<h1 class="display-5">Status details</h1>
<a asp-action="index" asp-controller="actionstatus" class="btn btn-light btn-sm">&laquo; Status list</a>
<hr />

<form class="form-horizontal" method="post" asp-action="details" asp-controller="actionstatus" role="form">
    <div asp-validation-summary="All" class="text-danger col-12"></div>

    <input type="hidden" asp-for="Id"  />

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Description" class="col-form-label"></label>
                <div>
                    <input type="text" class="form-control" asp-for="Description" placeholder="Status" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" class="btn btn-danger btn-sm" value="Save" />
        </div>
    </div>
</form>

