@model IEnumerable<ActionStatusListViewModel>
@{
    ViewData["Title"] = "Action Point Status";
    Layout = "_AdminLayout";
}

<h1 class="display-6">Action Point Status</h1>
<a asp-action="add" asp-controller="actionstatus" class="btn btn-primary btn-sm">Add status</a>
<hr />
<table class="table table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var status in Model)
            {
                <tr class="clickable-row" data-href='@Url.Action("details", "actionstatus", new { id=status.Id})'>
                    <td>@status.Description</td>
                </tr>
            }
        }
    </tbody>
</table>

@section AdminScripts
    {
    <script>
        $(function () {
            $('.clickable-row').click(function () {
                window.location = $(this).data('href');
            });
        })
    </script>
}
