@model IncomingMailViewModel

@{
    ViewData["Title"] = "New Incoming Mail";
}
<h2>New Incoming Mail</h2>
<hr />
<a asp-action="index" class="btn btn-default col-sm-offset-2">&laquo; Back</a><br /><br />
<form asp-action="new" method="POST" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <label asp-for="OfficeMail.From" class="control-label"></label>
                                    <input type="text" asp-for="OfficeMail.From" class="form-control" placeholder="From" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <label asp-for="OfficeMail.Subject" class="control-label"></label>
                                    <input type="text" asp-for="OfficeMail.Subject" class="form-control" placeholder="Subject" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <label asp-for="ReferenceNumber" class="control-label"></label>
                                    <input type="text" asp-for="ReferenceNumber" class="form-control" placeholder="Reference number" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <label asp-for="OfficeMail.To" class="control-label"></label>
                                    <input type="text" asp-for="OfficeMail.To" class="form-control" placeholder="To" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <label asp-for="IncomingDate" class="control-label"></label>
                                    <input type="text" asp-for="IncomingDate" class="form-control" placeholder="Incoming date" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <label asp-for="Details" class="control-label"></label>
                                    <textarea asp-for="Details" placeholder="Short description about the mail coming in." class="form-control" cols="30" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="form-group">
                                    <input type="submit" name="btnSave" value="Save" class="btn btn-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/all.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/datepicker.css" />
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#IncomingDate").datepicker();
        });
    </script>
}