@model IncomingMailViewModel

@{
    ViewData["Title"] = "Incoming Mail Details";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Incoming Mail Details</strong>
    </div>
    <div class="panel-body">
        <form asp-action="details" asp-controller="incomingmails" method="POST" role="form">
            <input type="submit" class="btn btn-danger" value="Save"><br /><br />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="IncomingMailId">
            <input type="hidden" asp-for="RowVersion">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ReferenceNumber" class="control-label"></label>
                        <input type="text" class="form-control" asp-for="ReferenceNumber" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input type="text" class="form-control" asp-for="Subject">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="From" class="control-label"></label>
                        <input type="text" class="form-control" asp-for="From">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="To" class="control-label"></label>
                        <input type="text" class="form-control" asp-for="To">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="IncomingDate" class="control-label"></label>
                        <input type="text" class="form-control" asp-for="IncomingDate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Details" class="control-label"></label>
                        <textarea asp-for="Details" class="form-control" cols="30" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="well">
                <h4><strong>Outgoing Details</strong></h4>
                @if(Model.OutgoingMail == null)
                {
                    <a asp-controller="outgoingmails" asp-action="new" asp-route-id=@Model.IncomingMailId class="btn btn-danger">Respond</a>
                }
                else
                {
                    <a asp-controller="outgoingmails" asp-action="details" asp-route-id=@Model.IncomingMailId class="btn btn-default">View response</a>
                }
                <hr style="border-bottom: 3px double #303030;" />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="OutgoingMail.OutgoingDate" class="control-label"></label>
                            <input type="text" class="form-control" asp-for="OutgoingMail.OutgoingDate" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="OutgoingMail.Officer" class="control-label"></label>
                            <input type="text" class="form-control" asp-for="OutgoingMail.Officer" disabled>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="OutgoingMail.Comment" class="control-label"></label>
                                <textarea asp-for="OutgoingMail.Comment" class="form-control" cols="30" rows="3" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
        </form>        
    </div>
</div>

@section scripts{
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/all.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/datepicker.css" />
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#IncomingDetails_IncomingDate").datepicker();
            $("#OutgoingMail_OutgoingDate").datepicker();
        });
    </script>
}